<launch>
    <arg name="enable_storz_laparoscope" default="false" />
    <arg name="enable_old_laparoscope" default="false" />
    <arg name="custom_config_files" default="" />
    <arg name="enable_pivot_controller" default="true"/>
    <arg name="ros_input_type" default="STEREO_SPLIT_RAW"/>
    <!-- force STEREO_SLICED if blackmagic_camera is enabled -->
    <arg if="$(arg enable_storz_laparoscope)" name="rit" value="STEREO_SLICED"/>
    <arg unless="$(arg enable_storz_laparoscope)" name="rit" value="$(arg ros_input_type)"/>
    <arg name="rosbag_path" default=""/>
    <arg name="esvr2_launch_prefix" default=""/>

    <group ns="esvr2">

        <node name="esvr2_ros" pkg="esvr2_ros" type="esvr2_ros"
            output="screen" required="true"
            launch-prefix="$(arg esvr2_launch_prefix)">
            <param name="enable_pivot_controller" type="bool" value="$(arg enable_pivot_controller)"/>
            <param name="ros_input_type" value="$(arg rit)" />
            <param name="distortion" value="RAW" />
            <param name="config_files" value="package://esvr2_ros/config/general.yml;$(arg custom_config_files)" />
            <remap from="image" to="/laparoscope/camera/image_raw"/>
            <remap from="left/image_raw" to="/laparoscope/camera/left/image_raw"/>
            <remap from="right/image_raw" to="/laparoscope/camera/right/image_raw"/>
            <remap from="left/camera_info" to="/laparoscope/camera/left/camera_info"/>
            <remap from="right/camera_info" to="/laparoscope/camera/right/camera_info"/>

            <remap from="current/laparoscope_dof_pose" to="/laparoscope/pivot_controller/current/laparoscope_dof_pose"/>
            <remap from="laparoscope_dof_boundaries" to="/laparoscope/pivot_controller/laparoscope_dof_boundaries"/>
            <remap from="target/laparoscope_dof_pose" to="/laparoscope/pivot_controller/target/laparoscope_dof_pose"/>
        </node>
    </group>
    <node name="blackmagic_camera" pkg="blackmagic_camera" type="blackmagic_camera_node"
    if="$(arg enable_storz_laparoscope)">
        <remap from="~/image_raw" to="/laparoscope/camera/image_raw"/>
    </node>
    <node pkg="rosbag" type="play" name="robag_play" output="log" args="$(arg rosbag_path) -l"
        if="$(eval arg('rosbag_path')  != '')">
        <remap from="/stereo/camera_driver/image_raw" to="/laparoscope/camera/image_raw"/>
    </node>
    <node name="blackmagic_camera" pkg="blackmagic_camera" type="blackmagic_camera_node"
    if="$(arg enable_old_laparoscope)">
        <param name="nCameras" value="2" />
        <param name="yuv" value="true" />
        <param name="mode" value="ePAL" />
        <param name="frame_id" value="camera" />
        <param name="camera_name" value="camera" />
        <remap from="~/camera0/image_raw" to="/laparoscope/camera/left/image_raw"/>
        <remap from="~/camera0/camera_info" to="/laparoscope/camera/left/camera_info"/>
        <remap from="~/camera1/image_raw" to="/laparoscope/camera/right/image_raw"/>
        <remap from="~/camera1/camera_info" to="/laparoscope/camera/right/camera_info"/>
    </node>
    <node pkg="rosbag" type="play" name="robag_play" output="log" args="$(arg rosbag_path) -l"
        if="$(eval arg('rosbag_path')  != '')">
        <remap from="/stereo/camera_driver/image_raw" to="/laparoscope/camera/image_raw"/>
    </node>
</launch>