<launch>
    <rosparam command="load" file="$(find esvr2_ros)/config/custom_param.yaml"/>
    <arg name="old_laparoscope" default="true"/>
    <include file="$(find esvr2_ros)/launch/other/blackmagic_camera.launch">
        <arg name="old_laparoscope" value="$(arg old_laparoscope)"/>
        <arg name="required" value="true"/>
    </include>
    <node name="screen_player" pkg="esvr2_ros"
          type="screen_player" output="screen"
          required="true">
        <remap from="image_raw" to="/laparoscope/camera/left/image_raw"/>
        <remap from="display/quit" to="/laparoscope/display/quit"/>
    </node>
    <include file="$(find pivot_control_messages_ros)/launch/controlUserStudy.launch">
        <arg name="tmux" value="true"/>
        <arg name="setup_id" value="screen-boxtrainer"/>
    </include>
</launch>