<launch>
    <rosparam command="load" file="$(find esvr2_ros)/config/custom_param.yaml"/>
    <arg name="old_laparoscope" default="true"/>
    <include file="$(find esvr2_ros)/launch/other/blackmagic_camera.launch">
        <arg name="old_laparoscope" value="$(arg old_laparoscope)"/>
        <arg name="required" value="true"/>
    </include>
    <node name="image_view" pkg="rqt_image_view"
          type="rqt_image_view" output="screen"
          required="true">
        <remap from="image" to="/laparoscope/camera/left/image_raw"/>
    </node>
    <include file="$(find pivot_control_messages_ros)/launch/controlUserStudy.launch">
        <arg name="tmux" value="true"/>
        <arg name="setup_id" value="screen-boxtrainer"/>
    </include>
</launch>