<launch>
    <arg name="old_laparoscope" default="true"/>
    <include file="$(find esvr2_ros)/launch/other/blackmagic_camera.launch">
        <arg name="old_laparoscope" value="$(arg old_laparoscope)"/>
    </include>
    <include file="$(find esvr2_ros)/launch/other/franka_pivot_control.launch">
        <arg name="old_laparoscope" value="$(arg old_laparoscope)"/>
    </include>
    <include file="$(find esvr2_ros)/launch/other/esvr2.launch">
        <arg if="$(arg old_laparoscope)" name="video_loader" value="old"/>
        <arg unless="$(arg old_laparoscope)" name="video_loader" value="storz"/>
        <arg name="enable_pivot_controller" value="true"/>
    </include>
</launch>